In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random

#### Importing data set for a csv data file, this file was downloaded from kaggle's data set library.

In [6]:
data = pd.read_csv("//home//abhishek//Programs_practice//Machine_Learning//Machine_Learning_Workspace//Regression/FuelConsumption.csv",encoding="ISO-8859-1")

In [8]:
data.head(10)

,MODEL,MAKE,MODEL.1,VEHICLE CLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,Unnamed: 11,CO2EMISSIONS
0,YEAR,NaN,# = high output engine,NaN,(L),NaN,NaN,TYPE,CITY (L/100 km),HWY (L/100 km),COMB (L/100 km),COMB (mpg),(g/km)
1,2012,ACURA,MDX AWD,SUV,3.7,6.0,AS6,Z,14.8,11.3,13.2,21,304
2,2012,ACURA,RDX AWD TURBO,SUV,2.3,4.0,AS5,Z,13.2,10.3,11.9,24,274
3,2012,ACURA,RL AWD,MID-SIZE,3.7,6.0,AS6,Z,13.7,9.7,11.9,24,274
4,2012,ACURA,TL,MID-SIZE,3.5,6.0,AS6,Z,11.8,8.1,10.1,28,232
5,2012,ACURA,TL AWD,MID-SIZE,3.7,6.0,AS6,Z,12.9,9,11.1,25,255
6,2012,ACURA,TL AWD,MID-SIZE,3.7,6.0,M6,Z,13.4,9.5,11.6,24,267
7,2012,ACURA,TSX,COMPACT,2.4,4.0,AS5,Z,10.6,7.4,9.2,31,212
8,2012,ACURA,TSX,COMPACT,2.4,4.0,M6,Z,11.3,8.1,9.9,29,228
9,2012,ACURA,TSX,COMPACT,3.5,6.0,AS5,Z,12.1,8.3,10.4,27,239

In [30]:
print(data.shape)
print(" ")
print(data.columns)

(1118, 13)

Index(['MODEL', 'MAKE', 'MODEL.1', 'VEHICLE CLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUEL', 'FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY',
       'FUELCONSUMPTION_COMB', 'Unnamed: 11', 'CO2EMISSIONS'],
      dtype='object')

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118 entries, 0 to 1117
Data columns (total 13 columns):
MODEL                   1102 non-null object
MAKE                    1111 non-null object
MODEL.1                 1093 non-null object
VEHICLE CLASS           1092 non-null object
ENGINESIZE              1093 non-null object
CYLINDERS               1092 non-null float64
TRANSMISSION            1092 non-null object
FUEL                    1093 non-null object
FUELCONSUMPTION_CITY    1093 non-null object
FUELCONSUMPTION_HWY     1093 non-null object
FUELCONSUMPTION_COMB    1093 non-null object
Unnamed: 11             1093 non-null object
CO2EMISSIONS            1093 non-null object
dtypes: float64(1), object(12)
memory usage: 113.7+ KB

In [38]:
df1 = data[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_COMB','FUELCONSUMPTION_HWY','CO2EMISSIONS']]
df1.head()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_HWY,CO2EMISSIONS
0,(L),NaN,CITY (L/100 km),COMB (L/100 km),HWY (L/100 km),(g/km)
1,3.7,6.0,14.8,13.2,11.3,304
2,2.3,4.0,13.2,11.9,10.3,274
3,3.7,6.0,13.7,11.9,9.7,274
4,3.5,6.0,11.8,10.1,8.1,232

In [48]:
print(df1.info())
print("\n")
df1 = df1.dropna()
print(df1.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1092 entries, 1 to 1092
Data columns (total 6 columns):
ENGINESIZE              1092 non-null object
CYLINDERS               1092 non-null float64
FUELCONSUMPTION_CITY    1092 non-null object
FUELCONSUMPTION_COMB    1092 non-null object
FUELCONSUMPTION_HWY     1092 non-null object
CO2EMISSIONS            1092 non-null object
dtypes: float64(1), object(5)
memory usage: 59.7+ KB
None


ENGINESIZE              0
CYLINDERS               0
FUELCONSUMPTION_CITY    0
FUELCONSUMPTION_COMB    0
FUELCONSUMPTION_HWY     0
CO2EMISSIONS            0
dtype: int64

### Now since few of the features are of data type object thus, first we are going to convert them to float datatype

In [43]:
convert_dict = {'ENGINESIZE':float, 'CYLINDERS':float, 'FUELCONSUMPTION_CITY':float, 'FUELCONSUMPTION_HWY':float,'CO2EMISSIONS':float,'FUELCONSUMPTION_COMB':float}
df = df1.astype(convert_dict)
print(df.dtypes)

ENGINESIZE              float64
CYLINDERS               float64
FUELCONSUMPTION_CITY    float64
FUELCONSUMPTION_COMB    float64
FUELCONSUMPTION_HWY     float64
CO2EMISSIONS            float64
dtype: object